<div class="container">
  <img class="center" src="assets/characters.jpg" alt="Disco Cocktails">
  <h2 class="text-center">Menu</h2>

  <div class="cocktail">
    <img src="https://picsum.photos/seed/picsum/200/300">
    <div>name</div>
  </div>
</div>
