<div class="container">
  <div style="text-align: center;"><button><%= link_to "Add a new cocktail", new_cocktail_path, class: "text-white" %></button></div>
  <h2 class="text-center">Menu</h2>

<div class="cocktails">
<% @cocktails.each do |cocktail| %>
  <div class="cocktail">
    <div><%= cocktail.name %></div>
    <div><%= link_to "View cocktail", cocktail_path(cocktail), class: "cocktail-link" %></div>
  </div>
<% end %>
</div>

</div>




