<div class="container">
  <div style="text-align: center;"><button><%= link_to "Back to cocktails", root_path, class: "text-white" %></button></div>
  <h2 class="text-center">Pick your poison, baby!</h2>
  <%= simple_form_for [ @cocktail ] do |f| %>
  <div class="text">
  <%= f.input :name %>
  </div>
  <%= f.submit "Choose ingredients", class: "blue-button" %>
  <% end %>
</div>
