@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap');

#nav-bar {
  background-color: #fcc3ca;
  padding: 20px 0;
  text-align: center;
  line-height: 60px;
}

#nav-bar h1 {
  font-family: 'Molle', cursive;
  font-size: 150px;
  color: white;
  text-shadow: 5px 5px #FF0000;
}
