@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-repeat: repeat;
  background-image: url("pink_square.jpeg");
  background-size: cover;
}

h2 {
  font-family: 'ABeeZee', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px #FF0000;
}

h3 {
  font-family: 'ABeeZee', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px #FFFFFF;
}

p {
  font-family: 'ABeeZee', sans-serif;
}
